@model GH_Project1.Models.Activity

@{
    ViewData["Title"] = "Details";
}

<div class="text-center">
    <h2 class="display-4">Etkinlik Detayları</h2>
</div>
<br />
<br />

<div>
    <dl class="row">
        <dt class="col-sm-3">Etkinlik Adı:</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Title)</dd>

        <dt class="col-sm-3">Açıklama:</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Description)</dd>

        <dt class="col-sm-3">Tarih:</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Date)</dd>

        <dt class="col-sm-3">Yer:</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Place)</dd>
    </dl>
</div>
<div>
    <br />
    <h3>Etkinliğin Katılımcıları</h3>
    <ul>
        @foreach (var participant in Model.Participants)
        {
            <li>@participant.Participant.FirstName @participant.Participant.LastName</li>
        }
    </ul>
</div>

<div>
    <a class="btn btn-outline-primary" asp-action="Index">Geri Dön</a>
</div>
